body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    background-color: #192836;
    color: white;
    margin: 0;
    padding: 20px;
}
h1{
    font-weight: 100;
}
h2{
    font-size: 1.3rem;
    line-height: 1.2;
}
.container {
    max-width: 1000px;
    margin: auto;
}
#artworks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}
@media (max-width: 650px){
    #artworks{
        grid-template-columns: 1fr;
    }
}
.artwork {
    background: #1e2d3b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px -2px rgb(0 0 0 / 51%), -2px -2px 10px -3px #ffffff3d;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #0056b3;
}
